.lesson-container {
    background-color: #073D95;
    display: flex;
    padding: 0 10px;
    margin-bottom: 5px;
    min-height: 80px;
    line-height: 80px;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.1);
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}


@media (max-width: 500px) {
    .lesson-container {
        padding: 10px;
        flex-wrap: wrap;
        line-height: normal;
    }

    .lesson-action-wrapper {
        flex-basis: 100%;
        margin-top: 20px;
        text-align: left;
    }
}


.lesson-number-wrapper {
    order: 1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: OpenSansRegular;
    margin-right: 15px;
}

.lesson-number-wrapper span {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 1px solid hsla(0,0%,100%,.54);
    border-radius: 50%;
    line-height: 36px;
}
.lesson-name-wrapper {
    order: 2;
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    flex-basis: auto;
    align-self: left;
}
.lesson-name-wrapper span {
    display: inline-block;
    line-height: 25px;
}
.lesson-action-wrapper {
    order: 6;
    margin-left: auto;
}
.lesson-action-wrapper span {
    color: #afafaf;
    margin-right: 20px;
}

.lesson-action-wrapper a {
    transition: .5s;
    text-transform: uppercase;
    display: inline-block;
    width: 144px;
    height: 40px;
    border: 2px solid #b517ec;
    line-height: 40px;
    font-family: MonoRegular;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.lesson-action-wrapper a.lesson-preview-link {
    background-color: #b517ec;
    position: relative;
}

.lesson-action-wrapper a.lesson-start-link {
}

.lesson-action-wrapper a:hover {
    text-decoration: none;
    background-color: #8612b1;
}
