.bundle-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .bundle-card-list {
      display: block;
    }
}
