.course-coverage-container {
    padding: 20px 10px 10px 10px;
}

.course-coverage-icon-wrapper img {
    width: 44px;
}

.course-coverage-item {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.course-coverage-item div:nth-child(2) {
    margin-left: 20px;
}
