.site-header {
  position: relative;
  z-index: 5;
  background-color: #032e74;
  height: 80px;
  transition: all 0.3s ease;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translate(0px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 600px) {
}
