.courses-section {
    
}

.courses-section-header {
    text-align: center;
}

.courses-section-header-title {
    font-family: "MonoRegular";
    font-size: 28px;
    font-weight: bold;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
}

.courses-section-header-subtitle {
    font-family: "MonoRegular";
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 0px 0px 40px 0px;
}
