.course-meta-container {
    display: flex;
    font-family: OpenSansLight;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
}

.course-meta-details-pane {
    width: 60%;
}

.course-meta-details-desc-container {
    margin-top: 60px;
}

.course-meta-details-desc-container p {
    font-family: OpenSansLight;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.course-meta-author-pane {
    width: 30%;
}



.course-meta-actionable {
    display: flex;
}

