.hero {
    width: 100%;
    text-align: center;
    background-color: #032E74;
    position: relative;
    background-size: cover;
    /*background: url('/img/mobile-splash.jpg') center center no-repeat;*/
    background: url('/img/bg-4.png') center center no-repeat;
    background-size: cover;
    padding: 120px;
}
.hero-content,
.hero-content .container,
.hero-content .text-padding {
    z-index: 10;
    position: relative;
}
.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*background: -webkit-linear-gradient(305deg,#054cbf 0,#032E74 100%);
    background: linear-gradient(145deg,#054cbf 0,#032E74 100%);*/
    
    /*background: linear-gradient(145deg,rgba(6, 27, 57, 0.2) 0,rgba(8, 42, 94, 0.1) 100%);*/
}

.hero-main-title {
    font-family: MonoRegular;
    font-weight: 700;
    font-size: 80px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 50px;
    z-index: 10;
    letter-spacing: -6px;
    text-shadow: 2px 2px 3px #000000;
    color: #12FFCD;
}


.hero-content p {
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
}

.hero-content .bundle-notice {
    margin-top:40px;
    font-size: 16px;
    color: #12FFCD;
}

.hero-content .bundle-notice a {
    margin-top:40px;
    font-size: 16px;
    color: rgb(170, 250, 233);
    text-decoration: underline;
    cursor: pointer;
}

.hero-content .bundle-notice a:hover {
    color: rgb(104, 228, 201);
}

@media only screen and (max-width: 860px) {
    .hero-main-title {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -3px;
    }
}

@media only screen and (max-width: 680px) {
    .hero-main-title {
        font-size: 42px;
        line-height: 56px;
        margin-bottom: 20px;
        letter-spacing: -3px;
    }
}

@media only screen and (max-width: 560px) {
    .hero {
        padding: 80px;
    }
    .hero-main-title {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: -3px;
    }
}
