.bundle-course {
    padding: 6px 4px;
    background-color: #0949b2;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.bundle-course-info {
    text-align: left;
    padding: 0 10px;
}

.bundle-course img {
    margin-right: 8px;
}

.bundle-course .authors {
    font-family: OpenSansLight;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    padding: 0;
}

.bundle-course .title {
    color: #12ffcd;
    font-family: OpenSansRegular;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    display: inline;
    margin: 0;
    padding: 0;
}

.bundle-course .tag {
    display: inline;
    margin: 0;
    color: #fff!important;
    background-color: #b517ec;
}
