.post-entry-container h1 {
    font-family: MonoRegular;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: #12ffcd;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.post-inner {
    max-width: 740px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 0 auto;
}

.post-entry-container
.post-meta-author-img-wrapper img {
    height: 60px;
    border-radius: 30px;
}

.post-meta-author-title {
    color: #11f5ff;
}

.post-excerpt {
    font-size: 24px;
    margin-bottom: 50px;
}

.post-body {
    background-color: azure;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;

    font-family: Charter-Roman, Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 20px;
    color: rgba(38,41,58,.8);
    line-height: 30px;


    font-weight: 400;
    font-style: normal;
    padding: 30px;
}

hr.section-divider {
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
    margin-top: 52px;
    margin-bottom: 42px;
}

hr.section-divider:before {
    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
    font-family: Charter-Roman, Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: .6em;
    color: rgba(38,41,58,.8);
}
