body {
    overflow-y: auto;
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.section {
    padding-top: 160px;
    position: relative;
}

.wrapper {
    max-width: 1140px;
    margin: auto;
    padding: 0 10px;
    position: relative;
    z-index: 10;
}

.heading {
    font-family: "MonoRegular";
    text-align: center;
    max-width: 860px;
    margin: 0 auto 80px;
}

@media only screen and (max-width: 860px) {
    .heading {
        margin: 0 auto 60px;
    }
}

.heading__title {
    font-weight: 400;
    font-size: 56px;
}

@media only screen and (max-width: 860px) {
    .heading__title {
        font-size: 48px;
    }
}
@media only screen and (max-width: 560px) {
    .heading__title {
        font-size: 38px;
        line-height: 46px;
    }
}

.heading__text {
    font-size: 18px;
    margin-top: 20px;
}
