/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar .navbar-link {
  text-align: center;
  display: inline-block;
  color: #12ffcd;
  line-height: 80px;
  border: none;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  font-size: 16px;
  font-family: 'MonoRegular';
}

.column-link {
  float: none;
  color: white !important;
  padding: 10px;
  text-decoration: none;
  display: block !important;
  text-align: left !important;
}
.column-link:hover {
  background-color: #0949b2 !important;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
  background-color: #0949b2;
}

/* Show the dropdown menu on hover */
.dropdown.open .dropdown-content {
  display: block;
}

.dropdown.open .menu-link-button {
  background-color: #0949b2;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .dropdown-content .column {
    width: 100%;
    height: auto;
  }
  .navbar .navbar-link-collapse {
    display: none;
  }
}

.dropdown.open .selector-img {
  transform: rotate(-180deg);
}

.view-all-link {
  color: #f0ae26 !important;
}
